# Expected SARSA

Will write to a file Summary/Exp_SARSA_summary with this format
k_alpha, k_epsilon, mean, median standard deviation

In [1]:
import re


def extract_parameters_EXP_SARSA(file_name):
    """
    - WRITTEN WITH HELP FROM CHATGPT -
    Extracts parameters from the expected SARSA title object.
    We only have two parameters to extact, k_alpha and k_epsilon
    """
    # Extracting the 'k' parameter
    k_alpha_match = re.search(r"(?<=k_alpha_)[\d.e-]+", file_name)
    k_alpha = k_alpha_match.group() if k_alpha_match else None

    # Extracting the 'alpha' parameter

    # Extracting the 'epsilon' parameter
    k_epsilon_match = re.search(r"(?<=k_epsilon)[\d.e-]+", file_name)
    k_epsilon = float(k_epsilon_match.group()[:-1]) if k_epsilon_match else None

    return float(k_alpha), float(k_epsilon)

In [2]:
# - WRITTEN WITH HELP FROM CHATGPT -
import os
import numpy as np

# Specify the folder path EXP_SARSA
folder_path = "Trajectories/Exp_SARSA_trajectories"

# Target directory to store the summary.
# It is stored with this form:
# k_alpha, k_epsilon, mu, med, sd
target_file = "Summary/Exp_SARSA_summary"  # File where we want to append the results

# To delete the previous one if already existing.
with open(target_file, "w") as t_file:
    pass

# Loop over all files in the folder
for file_name in os.listdir(folder_path):
    # Now we scan all the files
    if file_name.endswith(".txt"):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        k_alpha, k_epsilon = extract_parameters_EXP_SARSA(file_name)
        # Perform operations on the file
        with open(file_path, "r") as file:
            # Read the contents of the file
            # print(f"File: {file_name}")
            data = np.loadtxt(file_path)
            data = data[-1000:]
            mu = np.mean(data)
            med = np.median(data)
            sd = np.std(data)
        with open(target_file, "a") as t_file:
            t_file.write(
                str(k_alpha)
                + " "
                + str(k_epsilon)
                + " "
                + str(mu)
                + " "
                + str(med)
                + " "
                + str(sd)
                + "\n"
            )

# SARSA and Q-Leearning

Will write to a file with the following standard:
lambda\_, k_alpha, k_epsilon, mean, median, std

In [3]:
def extract_parameters_SARSA_Q(file_name):
    # - WRITTEN WITH HELP FROM CHATGPT -
    # Extracting the 'k_alpha' parameter
    k_alpha_match = re.search(r"(?<=k_alpha_)[\d.e-]+", file_name)
    k_alpha = k_alpha_match.group() if k_alpha_match else None

    # Extracting lambda parameter
    lambda_match = re.search(r"(?<=lambda_)[\d.e-]+", file_name)
    lambda_ = lambda_match.group() if lambda_match else None

    # Extracting the 'k_epsilon' parameter
    k_epsilon_match = re.search(r"(?<=k_epsilon)[\d.e-]+", file_name)
    k_epsilon = float(k_epsilon_match.group()[:-1]) if k_epsilon_match else None

    return float(lambda_), float(k_alpha), float(k_epsilon)

In [4]:
# - WRITTEN WITH HELP FROM CHATGPT -
# Specify the folder path SARSA!
folder_path = "Trajectories/SARSA_trajectories"

# Target directory to store the summary.
# It is stored with this form:
# k_alpha, k_epsilon, mu, med, sd
target_file = "Summary/SARSA_summary"  # File where we want to append the results

# To delete the previous one if already existing.
with open(target_file, "w") as t_file:
    pass

# Loop over all files in the folder
for file_name in os.listdir(folder_path):
    # Now we scan all the files
    if file_name.endswith(".txt"):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        lambda_, k_alpha, k_epsilon = extract_parameters_SARSA_Q(file_name)
        # Perform operations on the file
        with open(file_path, "r") as file:
            # Read the contents of the file
            # print(f"File: {file_name}")
            data = np.loadtxt(file_path)
            data = data[-1000:]
            mu = np.mean(data)
            med = np.median(data)
            sd = np.std(data)
        with open(target_file, "a") as t_file:
            t_file.write(
                str(lambda_)
                + " "
                + str(k_alpha)
                + " "
                + str(k_epsilon)
                + " "
                + str(mu)
                + " "
                + str(med)
                + " "
                + str(sd)
                + "\n"
            )

In [5]:
# - WRITTEN WITH HELP FROM CHATGPT -
# Specify the folder path Q LEARNING
folder_path = "Trajectories/Q_trajectories"

# Target directory to store the summary.
# It is stored with this form:
# k_alpha, k_epsilon, mu, med, sd
target_file = "Summary/Q_summary"  # File where we want to append the results

# To delete the previous one if already existing.
with open(target_file, "w") as t_file:
    pass

# Loop over all files in the folder
for file_name in os.listdir(folder_path):
    # Now we scan all the files
    if file_name.endswith(".txt"):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        lambda_, k_alpha, k_epsilon = extract_parameters_SARSA_Q(file_name)
        # Perform operations on the file
        with open(file_path, "r") as file:
            # Read the contents of the file
            # print(f"File: {file_name}")
            data = np.loadtxt(file_path)
            data = data[-1000:]
            mu = np.mean(data)
            med = np.median(data)
            sd = np.std(data)
        with open(target_file, "a") as t_file:
            t_file.write(
                str(lambda_)
                + " "
                + str(k_alpha)
                + " "
                + str(k_epsilon)
                + " "
                + str(mu)
                + " "
                + str(med)
                + " "
                + str(sd)
                + "\n"
            )

# MC

file contiene solo k_epsilon mu, med, std

In [6]:
def extract_parameters_MC(file_name):
    """
    # - WRITTEN WITH HELP FROM CHATGPT -
    Extracts parameters from the expected SARSA.
    We only have two parameters to extact, k_alpha and k_epsilon
    - WRITTEN USING CHATGPT -
    """

    # Extracting the 'epsilon' parameter
    k_epsilon_match = re.search(r"(?<=k_epsilon)[\d.e-]+", file_name)
    k_epsilon = float(k_epsilon_match.group()[:-1]) if k_epsilon_match else None

    # Print the extracted parameters
    # print(f"epsilon: {k_epsilon}")
    return float(k_epsilon)

In [7]:
# - WRITTEN WITH HELP FROM CHATGPT -
# Specify the folder path EXP_SARSA
folder_path = "Trajectories/MC_trajectories"

# Target directory to store the summary.
# It is stored with this form:
# k_alpha, k_epsilon, mu, med, sd
target_file = "Summary/MC_summary"  # File where we want to append the results

# To delete the previous one if already existing.
with open(target_file, "w") as t_file:
    pass

# Loop over all files in the folder
for file_name in os.listdir(folder_path):
    # Now we scan all the files
    if file_name.endswith(".txt"):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        k_epsilon = extract_parameters_MC(file_name)
        # Perform operations on the file
        with open(file_path, "r") as file:
            # Read the contents of the file
            # print(f"File: {file_name}")
            data = np.loadtxt(file_path)
            data = data[-1000:]
            mu = np.mean(data)
            med = np.median(data)
            sd = np.std(data)
        with open(target_file, "a") as t_file:
            t_file.write(
                str(k_epsilon) + " " + str(mu) + " " + str(med) + " " + str(sd) + "\n"
            )

# Analysis of RESULTS

## SARSA

In [8]:
import pandas as pd

file_path = "Summary/SARSA_summary"

# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter=" ", header=None)
df.columns = ["lambda_", "k_alpha", "k_epsilon", "mean", "median", "sd"]
df.sort_values("mean", ascending=False)

    lambda_  k_alpha  k_epsilon      mean  median           sd
30      0.2  0.00003    0.00005  2633.698  1831.0  2632.137291
48      0.8  0.00003    0.00500  2616.643  1570.0  2967.536161
27      0.8  0.00300    0.00005  1427.381   943.0  1468.154914
44      0.8  0.00003    0.00050  1159.787   689.0  1313.103380
49      0.5  0.00003    0.05000  1057.360   671.0  1125.386756
..      ...      ...        ...       ...     ...          ...
14      0.0  0.00000    0.00000    55.374    42.0    52.530164
5       0.0  0.00030    0.05000    54.297    43.0    40.202671
29      0.8  0.00000    0.00000    51.211    36.0    47.497710
6       0.0  0.03000    0.00050    48.352    41.0    30.044968
21      0.0  0.03000    0.00500    41.118    33.0    31.209775

[68 rows x 6 columns]

## Q_Learning

In [9]:
file_path = "Summary/Q_summary"

# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter=" ", header=None)
df.columns = ["lambda_", "k_alpha", "k_epsilon", "mean", "median", "sd"]
df.sort_values("mean", ascending=False)

    lambda_  k_alpha  k_epsilon      mean  median           sd
62      0.5  0.00003    0.00005  4783.610  3186.0  4952.148230
61      0.8  0.00003    0.00005  3624.031  2343.0  3996.748732
0       0.8  0.00030    0.05000  3595.010  2482.5  3684.509191
63      0.0  0.00003    0.00005  2989.408  2004.5  3071.134308
43      0.8  0.00030    0.00005  2462.887  1660.0  2481.273004
..      ...      ...        ...       ...     ...          ...
4       0.2  0.00000    0.00000    52.598    41.5    46.253177
59      0.0  0.00000    0.00000    51.494    36.5    46.329688
44      0.8  0.00000    0.00000    51.297    34.0    43.372581
67      0.0  0.00030    0.00500    49.111    43.0    29.886062
1       0.2  0.03000    0.05000    46.793    38.0    29.864095

[68 rows x 6 columns]

## Expected SARSA

In [10]:
file_path = "Summary/Exp_SARSA_summary"  # FOR SARSA

# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter=" ", header=None)


df.columns = ["k_alpha", "k_epsilon", "mean", "median", "sd"]
df.sort_values("mean", ascending=False)

    k_alpha  k_epsilon     mean  median          sd
11  0.00030    0.00005  127.305    93.0  111.714001
1   0.03000    0.00500  122.280    93.0   97.512961
16  0.00030    0.00500  105.501    73.0  101.061734
14  0.00300    0.00500   77.693    57.0   64.672009
2   0.00003    0.00005   70.235    53.0   56.271234
15  0.00300    0.00050   69.928    53.0   56.139672
13  0.03000    0.00050   68.440    50.0   55.853061
4   0.00030    0.00050   68.149    53.0   56.845798
10  0.00003    0.00050   62.359    46.0   52.975580
12  0.00030    0.05000   55.847    42.0   51.682391
0   0.00000    0.00000   49.982    35.0   42.942213
3   0.00300    0.05000   46.173    36.0   31.712412
5   0.03000    0.05000   39.014    33.0   29.767294
9   0.00300    0.00005   36.391    27.0   29.010035
7   0.03000    0.00005   23.479    23.0   12.422945
6   0.00003    0.05000   23.342    23.0   10.888298
8   0.00003    0.00500   21.181    13.0   13.868967

## MC Methods

In [11]:
file_path = "Summary/MC_summary"  # FOR SARSA

# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter=" ", header=None)


df.columns = ["k_epsilon", "mean", "median", "sd"]
df.sort_values("mean", ascending=False)

   k_epsilon     mean  median          sd
2    0.00500  199.460   143.0  175.705630
3    0.00050  138.655   100.5  121.950547
0    0.05000  123.642    93.0  102.413084
4    0.00005  101.278    75.5   87.256603
1    0.00000   48.743    36.5   38.674578